@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
}

.mainComponent {
	width: 100vw;
	height: 100vh;	
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

.signature {
	position: fixed;
	bottom: 0;
	right: 100px;
	text-align: center;
	width: 80px;
	font-size: large;
	font-weight: 500;
}

#cat {
	width: 80%;
	margin-bottom: -20px;
}